body, html {
	margin: 0;
	padding: 0;
	border: 2px solid blue;
}

.close span {
  font-size: 30px;
}

.close span:hover {
	color: #FF1919;
	font-size: 30px;
}

.doggy {
	margin: auto;
}

.doggy button {
	margin: 0 20px;
}

.modal-header {
	background: #0274DE;
}

.modal-body {
	margin: auto;
}

.user-input {
  margin: 15px 0;
}

.modal-header h4 {
	margin: auto;
	text-align: right;
	position: relative;
	letter-spacing: 2px;
	left: 65px;
	color: white;
	font-size: 26px;
}

.navigation-bar {
	text-align: center;
	padding: 20px;
	background: #fff;
	border-bottom: 5px solid #E09B2F;

}

.nav-item {
	color: black;
	margin: 10px;
	text-decoration: none;
	letter-spacing: 1px;
	padding: 0 8px;
}

#logged-user {
  color: #0078F2;
}

.nav-item:not(:last-child):hover {
	padding-bottom: 8px;
	border-bottom: 2px solid #0078F2;
}

.success-alert-txt {
	color: lightgreen;
	font-size: 12px;
	letter-spacing: 0.5px;
}

.error-alert-txt {
	color: red;
	font-size: 12px;
	letter-spacing: 0.5px;
}



