<!--The content below is only a placeholder and can be replaced.-->
<div class="navigation-bar">
  <a class="nav-item" routerLink="/home">Home</a>
  <a class="nav-item" routerLink="" (click)="open(login)"
  *ngIf="!currentUser">Login</a>
  <a class="nav-item" routerLink="" (click)="logout()"
  *ngIf="currentUser">Logout</a>
  <a class="nav-item" *ngIf="currentUser">Logged in as {{currentUser.email}}</a>
  <a *ngIf="!currentUser" class="nav-item" routerLink="" (click)="open(register)">Sign Up</a>
</div>

<ng-template #login let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Login</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  	<form>
	  	<div class="user-input">
		  	<label>Email</label> <br />
		    <input [(ngModel)]="email" name="email" />
		  </div>
  		<div class="user-input">
  		    <label>Password</label> <br />
  		    <input [(ngModel)]="password" name="password" type="password"/>
  		</div>
	</form>
  </div>
  <div class="modal-footer doggy">
  	<button type="button" class="btn btn-outline-dark" (click)="c('login')">Login</button>
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>

<ng-template #register let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Sign Up</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div *ngIf="!emailChecker()" class='error-alert-txt'>
        Email is taken
      </div>
      <div *ngIf="emailChecker()" class='success-alert-txt'>
        Email is available
      </div>
      <div class="user-input">
        <label>Email</label> <br />
        <input ng-change="emailChecker()" [(ngModel)]="email" name="email" />
      </div>
      <div *ngIf="!passwordLengthChecker()" class="error-alert-txt">
        <span>Password needs to be at least 8 characters</span>
      </div>
      <div class="user-input">
          <label>Password</label> <br />
          <input [(ngModel)]="password" name="password" type="password"/>
      </div>
      <div *ngIf="passwordMatch()" class="success-alert-txt">
      </div>
      <div class="user-input">
          <label>Confirm Password</label> <br />
          <input [(ngModel)]="password2" name="password2" type="password"/>
      </div>
  </form>
  </div>
  <div class="modal-footer doggy">
    <button type="button" class="btn btn-outline-dark" (click)="c('sign up')">Sign Up</button>
    <button type="button" class="btn btn-outline-dark" (click)="c()">Close</button>
  </div>
</ng-template>

<!-- <pre>{{closeResult}}</pre>
 --><router-outlet></router-outlet>
