<div class="movie-container">
	<div class="movie-header">
		<img [src]="movie.image" height="350" width="250" />
	</div>
	<div class="movie-forms">
		<form (ngSubmit)="createRating()" class="form">
			<input [(ngModel)]="rating.number" type="number" placeholder="Rating 1 - 5" name="rating" />
			<button type="submit" class="btn btn-outline-light">Add Rating</button>
		</form>
		<form (ngSubmit)="createReview()" class="form">
			<textarea [(ngModel)]="review.body" placeholder="Type in your review" name="review"> </textarea>
			<button type="submit" class="btn btn-outline-light">Add Review</button>
		</form>
	</div>
</div>